nav {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    background-color: white; 
  }
  
  .navbar-links-container {
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: white;
  }

  .navbar-links-container a {
    color: black;
    align-items: center;
    text-decoration: none;
  }
  
  .primary-button{
    align-items:end;
  }