.not-found-container{
    margin-top: 200px;
    text-align: center;
    color: white;
}

.error404 {
    font-size: 600%;
    font-weight: bold;
}

.return-container{
    font-size: 150%;
    color: black;
}

.return-button{
    display: inline-block; 
    padding: 10px 20px; 
    border: 2px solid black;
    border-radius: 5px; 
    background-color: white;
}

.return-button:hover {
    background-color: yellow;
}

.return-container a{
    color: black;
    align-items: center;
    text-decoration: none;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 205px;
}

.error-logo {
    width: 10%; 
    height: auto;
}