body {
    margin: 0;
    padding: 0; 
    background-color: rgb(103, 42, 145); /* Page background color */
  }


.course-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.course-unit {
    background-color: #ffffff;
    color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s;
}

.course-unit:hover {
    transform: translateY(-5px);
}

.info-button {
    padding: 10px 20px;
    background-color: #5B2E8D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.course-unit-label {
    width: 80px;
    display: inline-block;
    border: 3px solid yellow;
    padding: 3px 5px 5px 9px;
    border-radius: 8px;
    font-size: medium;
    background-color: white;
    color: black;
}

.course-unit-select {
    display: inline-block;
    width: 100px;
    padding: 5px;
    margin-left: 5px;
    border: 3px solid yellow;
    border-radius: 8px;
    font-weight: bold;
    font-size: medium;
    background-color: white;
    color: black;
}

.course-unit-select:focus {
    outline: none;
}

.empty-space {
    width: 100px;
}

.courses-viewing-options-container {
    padding: 0px 20px 0px 20px;
    display: grid;
    grid-template-columns: auto auto;
    place-items: center start;
}

.courses-viewing-options-container input[type=text] {
    border: none;
    font-size: 17px;
    width: 300px;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    border: 3px solid yellow;
    justify-self: end;
  }

.courses-viewing-options-container input[type=text]:focus {
    outline: none;
}